:root{
  --white: #FAF6F0;
  --white-2: #FFF9EC;
  --brown: #3B1F10;
  --golden: #C47F31;
  --yellow: #FFD966;
  --pink-1: #FF8FAF;
  --pink-2: #F15280;
  --violet: #F5EBFF;
  --violet-2: #CBB8F5;
}

*{
  background-color: var(--white-2) !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
    /* background-color: var(--white-2) !important; */
    margin: 0;
    padding: 0;
}
.principal{
  color: var(--brown);
  height: 90vh;
  /* padding: 15vh 0vh 15vh 15vw; */
  display: flex;
  flex-direction: row;
  gap: 10vw;
  justify-content: center;
  align-items: center;
}

.principal-1{
  width: 30%;
}

.principal-2{
  display: flex;
  flex-direction: column;
 }
 
.principal-2 img{
  height: 500px;
  width: auto;
  object-fit: cover;
  border-radius: 48% 52% 42% 58% / 57% 38% 62% 43%;
  transform: rotate(-3deg);
  border: 3px solid var(--brown);
  box-shadow: 10px 5px var(--violet-2);
}

.sticker-round{
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  top: 90px;
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
  align-self: flex-end;
  background-color: var(--yellow) !important;
  border-radius: 50%;
  border: 2px solid var(--brown);
  box-shadow: 3px 3px var(--brown);
  text-align: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 750;
  transform: rotate(6deg);
}

.sticker-note{
  position: relative;
  top: -20px;
  border-radius: 5px;
  border: 2px solid;
  box-shadow: 3px 3px var(--brown);
  padding: 7px 15px;
  align-self: flex-start;
  text-align: center;
  transform: rotate(-4deg);
}

.introduction-button-section ul{
  margin: 0;
  padding: 10px 0;
  gap: 1vw;
  display: flex;
  flex-direction: row;
}

.button-1, .button-2{
  padding: 10px 15px;
  border-radius: 25px;
  border-color: var(--brown);
}

.button-1{
  background-color: var(--brown) !important;
  color: var(--white-2);
  box-shadow: 3px 3px var(--pink-1);
}

.ticker{
  margin-top: 8vh;
  overflow: hidden;
  background-color: var(--pink-1) !important;
  border: 3px solid var(--brown);
  padding: 10px;
}

.ticker div, .ticker span, .ticker b{
  background-color: inherit !important;
}

.ticker > div{
  width: max-content;
  text-transform: capitalize;
  animation: ticker 28s linear infinite;
}

.ticker > div > span, .ticker > div{
  display: flex;
  gap: 20px;
}

@keyframes ticker {
  100%{
    transform: translateX(-50%);
  }
}
/* Fuentes */
/* .indie-flower-regular-x-large {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
}
.indie-flower-regular-large {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}
.indie-flower-regular-mediuim {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: medium;
} */